/***
 *    :'######:::'########:'##:::###:'########:'########:::::'###::::'##:::::::
 *    '##...###::###.....::####::###:###.....::###....###:::'#####:::###:::::::
 *    ###:::..:::###:::::::#####:###:###:::::::###::::###::'##:.###::###:::::::
 *    ###::'####:#######:::#########:#######:::#########::'##:::.###:###:::::::
 *    ###:::###::###...::::###.#####:###...::::###..###:::##########:###:::::::
 *    ###:::###::###:::::::###:.####:###:::::::###::.###::###....###:###:::::::
 *    .#######:::#########:###::.###:#########:###:::.###:###::::###:#########:
 *    :......::::........::..::::..::........::..:::::..::..:::::..::........::
 */

:root {
  --header-bg-color: #f72210;
  --roboto-condensed: "Roboto Condensed", sans-serif;
}

section>h6 {
  display: none;
}

.col-lg,
[class*='col-lg-'] {
  padding-right: 0;
  padding-left: 0;
}

.w {
  overflow: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

.red {
  background-color: var(--header-bg-color);
}

@media only screen and (min-width: 481px) {

  .h-1,
  .h-2,
  .h-3 {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .h-3 .tag-size {
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
    fill: var(--header-bg-color);
  }

  .h-3 {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .h-2 {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media only screen and (min-width: 992px) {
  .h-3 {
    padding-left: 12px;
  }

  .h-1 .h-date {
    display: block;
    margin-left: 10px;
  }

  .brand .logo-svg {
    width: 426px;
    height: 90px;
    padding: 10px 15px;
  }

  .container .header-top {
    height: 95px;
    padding: 20px 10px 15px;
  }

  .header-middle {
    transform: translate(-50%, 0);
    z-index: 3;
    top: 0;
    left: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
  }

  .container .haeder-bottom::before {
    width: 66px;
  }

  .haeder-bottom .nav {
    overflow: hidden;
    max-width: calc(100% - 80px);
  }
}

@media only screen and (min-width: 768px) {
  .content .main-art {
    order: 1;
  }

  .content .culture {
    order: 2;
  }

  .content .more-art {
    order: 3;
  }

  .row .top-stories {
    order: 2;
  }

  .left-wrapper,
  .right-wrapper {
    height: 1024px;
    position: relative;
    overflow: hidden;
  }

  .left-wrapper .row>div {
    height: 1024px;
  }

  .main-section {
    height: fit-content;
    overflow: hidden;
  }

  .feautered-stories::-webkit-scrollbar {
    display: none;
  }

  .row .feautered-stories {
    order: 1;
    overflow-y: scroll;
  }

  .culture .padding-right {
    padding-right: 5px;
  }

  .culture .padding-left {
    padding-left: 5px;
  }

  .culture .padding-bottom {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .header-top {
    position: absolute;
    right: 0;
  }

  .haeder-bottom {
    display: none;
  }
}

.container {
  max-width: 1310px;
  min-width: 300px;
  padding: 0;
}

.header-top {
  height: 50px;
  padding: 20px 10px 15px;
}

.header-middle {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.page-header .container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.ai-fe {
  align-items: flex-end;
}

.logo-svg {
  transition: all 0.8s ease;
  fill: var(--white);
}

.brand svg {
  width: 132px;
  height: 20px;
  fill: var(--white);
}

.h-1,
.h-2,
.h-3 {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  font-family: var(--roboto-condensed);
  text-transform: uppercase;
  display: inline-block;
}

.page-header .container,
.h-2 {
  background-color: var(--header-bg-color);
  color: var(--white);
}

.h-1 div {
  display: none;
}

.h-1 .h-date {
  font-size: 16px;
  line-height: 32px;
  font-weight: initial;
  text-transform: capitalize;
}

.h-3 {
  background-color: var(--white);
  color: var(--header-bg-color);
}

.h-3 svg {
  display: none;
}

.container .haeder-bottom {
  background-color: white;
  position: relative;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.haeder-bottom::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 22px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.haeder-bottom .nav {
  flex-wrap: nowrap;
}

.haeder-bottom .nav-link {
  color: black;
  font-size: 21px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  border-left: 1px solid rgb(225, 225, 225);
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
}

.haeder-bottom .n-b-l {
  border-left: 0;
  overflow: hidden;
}

.haeder-bottom .nav-link:hover {
  color: var(--header-bg-color);
}

.nav-item {
  padding: 12px 0;
}

.nav-link input {
  border: none;
  background-size: 20px;
  background-position: 60px 7px;
  background-repeat: no-repeat;
  background-image: url(https://g.newsweek.com/www/images/icon-search-glass.svg);
}

.image img {
  width: 100%;
}

.row {
  overflow-y: scroll;
}

.main .row {
  margin: 0;
  height: 1024px;
  overflow: scroll;
}

.block-title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  font-family: var(--roboto-condensed);
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

.category {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.837);
  padding: 5px;
  font-weight: bolder;
}

article>h3>a {
  color: black;
}

.category a {
  color: var(--header-bg-color);
}

.related a {
  color: black;
  font-family: var(--roboto-condensed);
  font-size: 19px;
  line-height: 22px;
  font-weight: bold;
}

.more-art a {
  color: black;
  font-size: 17px;
  font-family: var(--roboto-condensed);
  font-weight: bold;
}

.align-self-center a {
  color: white;
}

.opinion a {
  font-size: 20px;
  line-height: 20px;
  font-family: var(--roboto-condensed);
  font-weight: bold;
  color: black;
}

.culture>article>h3>a {
  font-weight: lighter;
}

article>h3>a:hover {
  text-decoration: none;
}

.category a:hover {
  text-decoration: none;
}

article>h3 {
  font-size: 20px;
  line-height: 20px;
  font-family: var(--roboto-condensed);
  font-weight: bold;
  padding-top: 10px;
}

.sumary {
  padding-bottom: 10px;
}

.top-stories {
  order: 1;
  overflow-y: scroll;
}

.top-stories::-webkit-scrollbar {
  display: none;
}

.feautered-stories {
  order: 2;
}

.related {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(225, 225, 225);
  border-bottom: 1px solid rgb(225, 225, 225);
}

.culture * {
  background-color: rgb(244, 245, 247);
}

.culture article {
  padding: 0;
  overflow: hidden;
}

.culture article:nth-child(odd) {
  clear: both;
}

.culture .sumary {
  color: rgba(39, 39, 39, 0.5);
}

.culture .category {
  position: relative;
  text-transform: capitalize;
  background-color: rgba(179, 179, 179, 0.837);
  padding: 0;
  font-weight: lighter;
  color: rgba(122, 122, 122);
  width: 50px;
}

.culture .category a {
  color: rgb(65, 65, 65);
  background-color: rgba(179, 179, 179, 0.837);
}

.main-art {
  order: 1;
}

.culture {
  order: 3;
}

.more-art {
  order: 2;
}

.more-art h3 {
  line-height: 20px;
  font-family: var(--roboto-condensed);
  font-weight: bold;
  padding: 0;
}

.more-art [class*='col-'] {
  padding: 0;
}

.more-art .padding-right {
  padding-right: 5px;
}

.more-art .padding-left {
  padding-left: 5px;
}

.more-art .padding-top {
  padding-top: 20px;
  border-top: 1px solid rgb(225, 225, 225);
}

.opinion article {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(225, 225, 225);
}

.opinion .no-border {
  border-top: none;
}

.opinion a:hover {
  text-decoration: none;
}

.opinion h3 {
  font-size: 20px;
  line-height: 20px;
  font-family: var(--roboto-condensed);
  font-weight: bold;
  padding-top: 10px
}

.owner {
  font-size: 14px;
  line-height: 21px;
  color: #555;
  text-transform: uppercase;
}

article .no-padding {
  padding: 0;
}

.row::-webkit-scrollbar {
  display: none;
}

.sing-up-add .block-title {
  font-size: 14px;
  padding-left: 15px;
  padding-top: 0;
  color: black;
}

.block-title:hover {
  text-decoration: none;
}

.sing-up-add .row {
  overflow: hidden;
  max-width: 300px;
  max-height: 165px;
  margin: auto;
  background-color: rgb(244, 245, 246);
  border: rgb(229, 229, 229) solid 1px;
}

.icon {
  background-color: var(--header-bg-color);
  width: 100%;
}

.sing-up-add .row .padding-left {
  padding: 15px;
}

.sing-up-add .bg-secondary {
  height: 25px;
  padding: 0;
}

.bg-secondary .nav-link {
  padding: 0;
  text-align: center;
}

.sing-up-add .col-12 {
  padding: 0;
}

.opinion .sm {
  font-size: 14px;
}

.sing-up-add .row {
  padding: 15px 0;
}

.sing-up-add .nav-link {
  padding-left: 10px;
  padding-right: 10px;
}