/***
 *    :'######:::'########:'##:::###:'########:'########:::::'###::::'##:::::::
 *    '##...###::###.....::####::###:###.....::###....###:::'#####:::###:::::::
 *    ###:::..:::###:::::::#####:###:###:::::::###::::###::'##:.###::###:::::::
 *    ###::'####:#######:::#########:#######:::#########::'##:::.###:###:::::::
 *    ###:::###::###...::::###.#####:###...::::###..###:::##########:###:::::::
 *    ###:::###::###:::::::###:.####:###:::::::###::.###::###....###:###:::::::
 *    .#######:::#########:###::.###:#########:###:::.###:###::::###:#########:
 *    :......::::........::..::::..::........::..:::::..::..:::::..::........::
 */


:root {
  --header-bg-color: #f72210;
  --roboto-condensed: "Roboto Condensed", sans-serif;
}

.col-lg,
[class*='col-lg-'] {
  padding-right: 0;
  padding-left: 0;
}

.w {
  overflow: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

.red {
  background-color: var(--header-bg-color);
}

@media only screen and (min-width: 481px) {

  .h-1,
  .h-2,
  .h-3 {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .h-3 .tag-size {
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
    fill: var(--header-bg-color);
  }

  .h-3 {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .h-2 {
    padding-left: 12px;
    padding-right: 12px;
  }

}

@media only screen and (min-width: 992px) {

  .h-3 {
    padding-left: 12px;
  }

  .h-1 .h-date {
    display: block;
    margin-left: 10px;
  }

  .brand .logo-svg {
    width: 426px;
    height: 90px;
    padding: 10px 15px;
  }

  .container .header-top {
    height: 95px;
    padding: 20px 10px 15px;
  }

  .header-middle {
    transform: translate(-50%, 0);
    z-index: 3;
    top: 0;
    left: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
  }

  .container .haeder-bottom::before {
    width: 66px;
  }
}

@media only screen and (max-width: 992px) {
  .header-top {
    position: absolute;
    right: 0;
  }
}

.header-top {
  height: 50px;
  padding: 20px 10px 15px;
}

.page-header .container {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.container {
  max-width: 1310px;
  min-width: 300px;
}

.container .header-middle {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ai-fe {
  align-items: flex-end;
}

.logo-svg {
  transition: all 0.8s ease;
  fill: var(--white);
}

.brand svg {
  width: 132px;
  height: 20px;
  fill: var(--white);
}

.h-1,
.h-2,
.h-3 {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  font-family: var(--roboto-condensed);
  text-transform: uppercase;
  display: inline-block;
}

.page-header .container,
.h-2 {
  background-color: var(--header-bg-color);
  color: var(--white);
}

.h-1 div {
  display: none;
}

.h-1 .h-date {
  font-size: 16px;
  line-height: 32px;
  font-weight: initial;
  text-transform: capitalize;
}

.h-3 {
  background-color: var(--white);
  color: var(--header-bg-color);
}

.h-3 svg {
  display: none;
}

.container .haeder-bottom {
  background-color: white;
  position: relative;
}

.haeder-bottom::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 22px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}